<i>Development Version 1 &mdash; June 10, 2011</i>
<h1>Vaisala &bull; RoadDSS Value Calculator &bull; Record <%= @record.id %></h1>

<nav>
  <ul>
    <li><%= link_to "User Benefits", user_savings_path %></li>
    <li><%= link_to "Community Benefits", community_savings_path %></li>
    <li><%= link_to "Other Benefits", other_benefits_path %></li>
    <li><%= link_to "Summary", summary_path %></li>
    <li><%= link_to "All", all_path %></li>
    <li><%= link_to "Inputs", record_path %></li>
  </ul>
</nav>
