<nav class="secondary" class="sticky">
  <span>Assumptions Category</span>
  <ul>
    <li><a class="scroller" href="#customer-information">Customer Info</a></li>
    <li><a class="scroller" href="#calculator-input">Input</a></li>
    <li><a class="scroller" href="#infrastructure">Labor &amp; Infrastructure</a></li>
    <li><a class="scroller" href="#maintenance">Maintenance Fleet</a></li>
    <li><a class="scroller" href="#treatment">Treatment</a></li>
    <li><a class="scroller" href="#community">Community</a></li>
    <li><a class="scroller" href="#other">Other</a></li>
  </ul>
</nav>

<span id="currency" class="hidden"><%= @record.currency %></span>

<div class="edit-container">
  <h4 id="customer-information"><span>Customer Information</span></h4>
  <div class="table-container">
    <table class="no-alt-colors" id="customer-info-table">
      <tr>
        <td>Name</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="name"><%= @record.name %></td>
        <td></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Organization</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="organization"><%= @record.organization %></td>
        <td></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span><span class="enter">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Phone Number</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="phone"><%= @record.phone %></td>
        <td></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Email Address</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="email"><%= @record.email %></td>
        <td></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
    </table>
  </div>
  <h4 id="calculator-input"><span>Calculator Input</span></h4>
  <div class="table-container">
    <table class="no-alt-colors">
      <tr>
        <td>Number of Weather Events</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="events"><%= numf(@record.events) %></td>
        <td>Events</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Number of RWIS Stations</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="stations"><%= numf(@record.stations) %></td>
        <td>Stations</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Winter Maintenance Budget</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="maintenance_budget"><%= ccyf(@record.maintenance_budget) %></td>
        <td><%= @currency_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Population</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="population"><%= numf(@record.population) %></td>
        <td>People</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Number of Treatment Vehicles</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="treatment_vehicles"><%= numf(@record.treatment_vehicles) %></td>
        <td>Vehicles</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Treatment Distance (per Event)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="treatment_miles"><%= numf(@record.treatment_miles) %></td>
        <td>Lane <%= @distance_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Number of Routes</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="routes"><%= numf(@record.routes) %></td>
        <td>Routes</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Cleanup Distance (per Event)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="cleanup_miles"><%= numf(@record.cleanup_miles) %></td>
        <td>Lane <%= @distance_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Dry Material Use (per Event)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="dry_material_use"><%= numf(@record.dry_material_use) %></td>
        <td>Tons / Event</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Wet Material Use (per Event)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record" data-attribute="wet_material_use"><%= numf(@record.wet_material_use) %></td>
        <td><%= @volume_unit %> / Event</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Tolls (per Vehicle)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="tolls_per_vehicle"><%= ccyf(@record.assumptions_setting.tolls_per_vehicle, 2) %></td>
        <td><%= @currency_unit %> / Vehicle</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
    </table>
  </div>
  <div id="recalc-container">
    <p>Many of the assumptions below are calculated from the calculator input provided above. If you change the calculator input, the assumptions will no longer reflect their values and you may want to recalculate them.</p>
    <%= link_to "Recalculate Assumptions", recalculate_assumptions_path(@record), :confirm => "Are you sure you want to recalculate assumptions? This will erase any assumptions you have changed yourself. This action cannot be undone." %>
  </div>
  <h4 id="infrastructure"><span>Customer Labor &amp;<br>Infrastructure</span></h4>
  <div class="table-container">
    <table class="no-alt-colors">
      <tr>
        <td>Decision Maker Rate</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="decision_maker_rate"><%= ccyf(@record.assumptions_setting.decision_maker_rate, 2) %></td>
        <td><%= @currency_unit %> / Hour</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Driver Rate</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="driver_rate"><%= ccyf(@record.assumptions_setting.driver_rate, 2) %></td>
        <td><%= @currency_unit %> / Hour</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Complaint Labor Cost</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="complaint_labor_cost"><%= ccyf(@record.assumptions_setting.complaint_labor_cost, 2) %></td>
        <td><%= @currency_unit %> / Call</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Hours for Decision to Send Operators</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="decision_hrs"><%= numf(@record.assumptions_setting.decision_hrs, 1) %></td>
        <td>Hours / Day</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Number of Drivers</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="drivers"><%= numf(@record.assumptions_setting.drivers) %></td>
        <td>Drivers</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Number of Decision Makers</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="decision_makers"><%= numf(@record.assumptions_setting.decision_makers) %></td>
        <td>Decision Makers</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Stress Related Absences (per Person)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="stress_absences"><%= numf(@record.assumptions_setting.stress_absences) %></td>
        <td>Absences</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>IT Labor Costs</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="it_labor_costs"><%= ccyf(@record.assumptions_setting.it_labor_costs) %></td>
        <td><%= @currency_unit %> / Year</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>IT Hardware Costs</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="it_hardware_costs"><%= ccyf(@record.assumptions_setting.it_hardware_costs) %></td>
        <td><%= @currency_unit %> / Year</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
    </table>
  </div>
  <h4 id="maintenance"><span>Maintenance Fleet Vehicles</span></h4>
  <div class="table-container">
    <table class="no-alt-colors">
      <tr>
        <td>Maintenance Vehicle Fuel Economy</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="vehicle_mpg"><%= numf(@record.assumptions_setting.vehicle_mpg, 1) %></td>
        <td><%= @fuel_economy_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Fuel Cost</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="fuel_cost"><%= ccyf(@record.assumptions_setting.fuel_cost, 2) %></td>
        <td><%= @currency_unit %> / <%= @volume_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Cleaning Costs (per Vehicle per Event)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="fleet_cleaning"><%= ccyf(@record.assumptions_setting.fleet_cleaning, 2) %></td>
        <td><%= @currency_unit %> / Vehicle</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Servicing Costs (per Vehicle per Year)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="fleet_servicing"><%= ccyf(@record.assumptions_setting.fleet_servicing, 2) %></td>
        <td><%= @currency_unit %> / Vehicle</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Equipment Replacement Costs (per Year)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="equipment_replacement_costs"><%= ccyf(@record.assumptions_setting.equipment_replacement_costs, 2) %></td>
        <td><%= @currency_unit %> / Year</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
    </table>
  </div>
  <h4 id="treatment"><span>Treatment</span></h4>
  <div class="table-container">
    <table class="no-alt-colors">
      <tr>
        <td>Dry Material Cost</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="dry_material_cost"><%= ccyf(@record.assumptions_setting.dry_material_cost, 2) %></td>
        <td><%= @currency_unit %> / Hour</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Wet Material Cost</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="wet_material_cost"><%= ccyf(@record.assumptions_setting.wet_material_cost, 2) %></td>
        <td><%= @currency_unit %> / Hour</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Cleanup Time (per Mile)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="cleanup_time_per_mile"><%= numf(@record.assumptions_setting.cleanup_time_per_mile, 2) %></td>
        <td>Hours / <%= @distance_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Treatment Time (per Driver per Event)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="treatment_hrs_per_event_driver"><%= numf(@record.assumptions_setting.treatment_hrs_per_event_driver, 2) %></td>
        <td>Hours / Day</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr class="non-editable">
        <td>Cleanup Distance (per Route)</td>
        <td><%= numf(@record.assumptions_setting.cleanup_miles_per_route, 2) %></td>
        <td><%= @distance_unit %></td>
        <td><span>Not editable</span></td>
      </tr>
      <tr class="non-editable">
        <td>Cleanup Time (per Route)</td>
        <td><%= numf(@record.assumptions_setting.cleanup_hrs_per_route, 2) %></td>
        <td>Drivers</td>
        <td><span>Not editable</span></td>
      </tr>
    </table>
  </div>
  <h4 id="community"><span>Community &amp; Infrastructure</span></h4>
  <div class="table-container">
    <table class="no-alt-colors">
      <tr>
        <td>Cost per Major Accident</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="cost_per_major_accident"><%= ccyf(@record.assumptions_setting.cost_per_major_accident, 2) %></td>
        <td><%= @currency_unit %> / Accident</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Cost per Fatality</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="cost_per_fatality"><%= ccyf(@record.assumptions_setting.cost_per_fatality, 2) %></td>
        <td><%= @currency_unit %> / Fatality</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Total Local Economy</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="total_local_economy"><%= ccyf(@record.assumptions_setting.total_local_economy) %></td>
        <td><%= @currency_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Average Community Fuel Economy</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="community_fuel_economy"><%= numf(@record.assumptions_setting.community_fuel_economy, 1) %></td>
        <td><%= @fuel_economy_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Distance per Vehicle on Weather Event</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="miles_per_vehicle"><%= numf(@record.assumptions_setting.miles_per_vehicle, 1) %></td>
        <td><%= @distance_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Average Accident Litigation Cost</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="litigation_cost_accident"><%= ccyf(@record.assumptions_setting.litigation_cost_accident, 2) %></td>
        <td><%= @currency_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Average Fatality Litigation Cost</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="litigation_cost_fatality"><%= ccyf(@record.assumptions_setting.litigation_cost_fatality, 2) %></td>
        <td><%= @currency_unit %></td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Number of Major Accidents (per Event)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="accidents_per_event"><%= numf(@record.assumptions_setting.accidents_per_event) %></td>
        <td>Accidents</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Number of Winter Fatalities (per Year)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="fatalities"><%= numf(@record.assumptions_setting.fatalities) %></td>
        <td>Fatalities</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Number of Complaints (per Year)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="complaints"><%= numf(@record.assumptions_setting.complaints) %></td>
        <td>Complaints</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Percent of Economy Affected on Events</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="economy_affected_pct"><%= @record.assumptions_setting.economy_affected_pct %></td>
        <td>Percent</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Traffic Speed during Events</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="traffic_speed"><%= numf(@record.assumptions_setting.traffic_speed, 1) %></td>
        <td><%= @distance_unit %> / Hour</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Vehicles on the Road Daily during Events</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="vehicles_on_road"><%= numf(@record.assumptions_setting.vehicles_on_road) %></td>
        <td>Vehicles</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Infrastructure Wear Costs (per Year)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="infrastructure_wear_costs"><%= ccyf(@record.assumptions_setting.infrastructure_wear_costs) %></td>
        <td><%= @currency_unit %> / Year</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
      <tr>
        <td>Vegetation Replacement Costs (per Year)</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="vegetation_replacement_costs"><%= ccyf(@record.assumptions_setting.vegetation_replacement_costs) %></td>
        <td><%= @currency_unit %> / Year</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
    </table>
  </div>
  <h4 id="other"><span>Other</span></h4>
  <div class="table-container">
    <table class="no-alt-colors">
      <tr class="non-editable">
        <td>Carbon Dioxide Emissions (from Diesel)</td>
        <td><%= numf(@record.assumptions_setting.co2_diesel, 1) %></td>
        <td><%= @mass_unit %> / <%= @volume_unit %></td>
        <td><span>Not editable</span></td>
      </tr>
      <tr class="non-editable">
        <td>Carbon Dioxide Emissions (from Gasoline)</td>
        <td><%= numf(@record.assumptions_setting.co2_gas, 1) %></td>
        <td><%= @mass_unit %> / <%= @volume_unit %></td>
        <td><span>Not editable</span></td>
      </tr>
      <tr>
        <td>Vehicles on Toll Roads During Event</td>
        <td class="rest_in_place" data-url="<%= url_for @record %>" data-object="record[assumptions_setting]" data-object-id="<%= @record.assumptions_setting.id %>" data-attribute="toll_roads_vehicles"><%= numf(@record.assumptions_setting.toll_roads_vehicles) %></td>
        <td>Vehicles</td>
        <td><span class="edit">Click to Edit</span><span class="save">Press 'Enter' to save</span></td>
      </tr>
    </table>
  </div>
</div>
