<section>
  <h3>Efficiency</h3>
  <%= render "efficiency_savings" %>
  <%= render "efficiency_reductions" %>
</section>

<section>
  <h3>Publicity</h3>
  <%= render "publicity_savings" %>
  <%= render "publicity_reductions" %>
</section>

<section>
  <h3>Safety</h3>
  <%= render "safety_savings" %>
  <%= render "safety_reductions" %>
</section>

<section>
  <h3>Mobility</h3>
  <%= render "mobility_savings" %>
  <%= render "mobility_reductions" %>
</section>

<section>
  <h3>Environment</h3>
  <%= render "environment_savings" %>
  <%= render "environment_reductions" %>
</section>
