<!DOCTYPE html>
<html style="background: #eee;">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      p {
        line-height: 22px;
        font-size: 13px;
      }
      a:hover span.title {
        border-bottom: 1px solid #00728f;
      }
    </style>
  </head>
  <body style="font-family: Verdana; background: #eee;">
    <div style="width: 600px; border: 1px solid #00728f; margin: 30px auto; background: #fff">
      <h1 style="padding: 18px 18px 12px; margin: 0; color: #fff; border-bottom: 1px solid #00728f; background: #00728f">
        <%= image_tag attachments['logotype.png'].url, :alt => "Vaisala" -%>
        <span style="font-size: 16px; vertical-align: 125%;">/ RoadDSS Value Calculator</span>
      </h1>
      <div style="background: #e2f5f8; border-bottom: 1px solid #00728f; border-top: 1px solid #00728f; margin-top: 15px; padding: 10px 15px;">
        <span style="font-size: 16px;"><%= @record.organization %> — </span><span style="font-weight: bold; font-size: 13px; text-transform: uppercase; color: #004C5F"><%= @record.name %></span><a class="primary" href="<%= root_url.chomp("/") %><%= url_for(all_path(@record)) %>" style="float: right; font-size: 12px; margin-top: 2px; text-decoration: none; color: #004C5F;">Show all results &rarr;</a>
      </div>
      <div style="padding: 0 15px; line-height: 22px;">
        <p>
          Thank you for using the Vaisala RoadDSS Value Calculator. Please download the results summary report you requested by clicking on the box below.
        </p>
        <p> 
          You will get a detailed report on the potential savings and benefits of using Vaisala RoadDSS Manager software. For additional information, please contact your Vaisala sales representative, of send an e-mail to <a href="mailto:paul.bridge@vaisala.com">paul.bridge@vaisala.com</a>.
        </p>
        <div id="report" style="text-decoration: none; display: block; margin: 50px; padding: 30px; border: 1px solid #00728f; color #00728f;">
          <a class="title" href="<%= root_url.chomp("/") %><%= url_for(summary_path(@record)) %>" style="color: #00728f; font-weight: bold; font-size: 18px">Results Summary Report</a>
          <span style="font-weight: normal; font-size: 13px; color: #444;"><br>(PDF)</span>
          <a style="font-weight: normal; font-size: 10px; display: block; padding-top: 20px; color: #444;"><br><%= root_url.chomp("/") %><%= url_for(summary_path(@record)) %></a>
        </div>
      </div>
    </div>
  </body>
</html>