<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body id="contact">
    <div id="wrapper">
      <header>
        <h1>
          <a href="<%= url_for root_path %>" id="logo">Vaisala</a>
          <div id="logo-blue"><%= image_tag("embed/logotype-blue.png", :alt => "Vaisala", :id => "logotype-blue") %></div>
          <span>/ RoadDSS Value Calculator</span>
        </h1>
        <div id="road"></div>
      </header>
  
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><span><%= value %></span></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
