<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body id="index">
  <header>
    <h1>
      <div id="logo">
        <a href="http://www.vaisala.com" target="_blank" id="logo">Vaisala</a>
      </div>
      <div id="logo-blue"><%= image_tag("embed/logotype-blue.png", :alt => "Vaisala", :id => "logotype-blue") %></div>
      <span>/ <%= link_to "RoadDSS Value Calculator", root_path %></span>
    </h1>
  </header>
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><span><%= value %></span></div>
  <% end %>
  <%= yield %>
</body>
</html>
